.myClass {
  color: red;
  font-size: 2em;
}
$bgGradient1: rgb(151, 151, 151);
$bgGradient2: rgb(0, 0, 0);
/* user info style */
.fa-brands {
  color: black;
}
.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, $bgGradient1, $bgGradient2);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, $bgGradient1, $bgGradient2);
}
